[access]
	inheritFrom = All-Projects
[project]
	description = Discovery service -- This project has moved to an ARCHIVED state per the TSC vote on 2017-07-13. See: https://meetings.opendaylight.org/opendaylight-meeting/2017/tsc/opendaylight-meeting-tsc.2017-07-13-17.00.html Section 10.d
	state = read only
[receive]
	requireChangeId = true
[access "refs/*"]
	read = group GitHub Replication
	owner = group ldap/gerrit-discovery-committers
