[access]
	inheritFrom = All-Projects
[project]
	description = Discovery service -- This project has moved to an ARCHIVED state per the TSC vote on 2017-07-13. See: https://meetings.opendaylight.org/opendaylight-meeting/2017/tsc/opendaylight-meeting-tsc.2017-07-13-17.00.html Section 10.d
	state = read only
[receive]
	requireChangeId = true
[access "refs/*"]
	read = group Anonymous Users
	read = group GitHub Replication
	read = group Registered Users
	forgeAuthor = group ldap/gerrit-discovery-committers
[access "refs/for/refs/*"]
	push = group Registered Users
[access "refs/heads/*"]
	create = group Non-Interactive discovery users
	forgeAuthor = group Non-Interactive discovery users
	forgeCommitter = group Non-Interactive discovery users
	pushMerge = group Non-Interactive discovery users
	label-Code-Review = -2..+2 group ldap/gerrit-discovery-committers
	label-Code-Review = -1..+1 group Non-Interactive discovery users
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive discovery users
	label-Verified = -1..+1 group ldap/gerrit-discovery-committers
	submit = group ldap/gerrit-discovery-committers
[access "refs/tags/*"]
	create = group ldap/gerrit-discovery-committers
	push = group Non-Interactive discovery users
	push = group ldap/gerrit-discovery-committers
	pushTag = group Non-Interactive discovery users
	pushTag = group ldap/gerrit-discovery-committers
